<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Assignwise</title>

        <!--ICONSCOUT CDN-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!--Google Font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">


        <link rel="stylesheet" href="./css/style.css">
        <style>
            .course {
                margin-top: 1rem;
            }
        </style>
    </head>

    <body>
        <nav>
            <div class="container nav_container">
                <a href="/"><h1>Assignwise</h1></a>
                <input type="checkbox" id="toggle-menu">
                <label for="toggle-menu" class="toggle-menu"><i class="fa-solid fa-bars"></i></label>
                <ul class="nav_menu">
                    <li><a href="/">Home</a></li>
                    <li><a href="/assignmentreport">Report</a></li>
                    <li><a href="/presentation">Presentation</a></li>
                    <li><a href="/questionsolution">Solution</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav> 
        <!--===== END OF NAVBAR =====-->


        <section class="courses">
            <div class="search-box">
                <button class="btn-search"><i class="fa-solid fa-magnifying-glass"></i></button>
                <input type="text" class="input-search" id="myInput" onkeyup="myFunction()" placeholder="Search">
            </div>
            <h2>Presentation</h2>
            <div class="container courses_container" id="myCourses">

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/Artificial Intelligence.png">
                    </div>
                    <div class="course_info">
                        <h4>Artificial Intelligence</h4>
                    <p>
                        Simulated human intelligence demonstrated by machines, 
                        encompassing learning, problem-solving, and decision-making capabilities.
                    </p>
                    <a href="./Presentation/Artificial Intelligence.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/Artificial Intelligence.png">
                    </div>
                    <div class="course_info">
                        <h4>Artificial Intelligence</h4>
                    <p>
                        Simulated human intelligence demonstrated by machines, 
                        encompassing learning, problem-solving, and decision-making capabilities.
                    </p>
                    <a href="./Presentation/Artificial Intelligence.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/Ds.jpg">
                    </div>
                    <div class="course_info">
                        <h4>Digital System</h4>
                    <p>
                        A digital system processes data using discrete values, typically binary, through logic gates, 
                        enabling computation, storage, and communication functions.
                    </p>
                    <a href="./Presentation/Digital System.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/BN.jpg">
                    </div>
                    <div class="course_info">
                        <h4>Binary System</h4>
                    <p>
                        A numerical system using base-2, representing numbers with only two digits, 0 and 1, 
                        fundamental in computing and digital electronics.
                    </p>
                    <a href="./Presentation/Binary system.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/BN.jpg">
                    </div>
                    <div class="course_info">
                        <h4>Binary Numbers</h4>
                    <p>
                        Binary numbers consist of 0s and 1s, representing digital data, used in computing and 
                        electronics for information storage and processing.
                    </p>
                    <a href="./Presentation/Binary Numbers.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/Bts.jpg">
                    </div>
                    <div class="course_info">
                        <h4>Beyond the Stars</h4>
                    <p>
                        "Beyond the Stars" refers to the realm or concept beyond earthly existence, 
                        often symbolizing the unknown or spiritual dimensions.
                    </p>
                    <a href="./Presentation/Beyond the Stars.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/EAR.png">
                    </div>
                    <div class="course_info">
                        <h4>Ethics and Animals Rights</h4>
                    <p>
                        Ethics and animal rights concern moral obligations and considerations toward non-human animals, 
                        advocating for their welfare and rights.
                    </p>
                    <a href="./Presentation/ANIMAL RIGHTS.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/Artificial Intelligence.png">
                    </div>
                    <div class="course_info">
                        <h4>Artificial Intelligence</h4>
                    <p>
                        Simulated human intelligence demonstrated by machines, 
                        encompassing learning, problem-solving, and decision-making capabilities.
                    </p>
                    <a href="./Presentation/Artificial Intelligence.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/E & C C.png">
                    </div>
                    <div class="course_info">
                        <h4>Ethics & Climate Change</h4>
                        <p>
                            Moral considerations guiding actions addressing global warming, 
                            sustainability, and environmental responsibility.
                        </p>
                        <a href="./Presentation/Ethics and Climate Change.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/E & S M .png">
                    </div>
                    <div class="course_info">
                        <h4>Ethics on Social Media</h4>
                        <p>
                            Principles governing online behavior, encompassing truthfulness, 
                            privacy, and respectful interaction on digital platforms.
                        </p>
                        <a href="./Presentation/Ethics on Social Media.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/Yoga.png">
                    </div>
                    <div class="course_info">
                        <h4> Yoga </h4>
                        <p>
                            Ancient practice blending physical postures, breath control, 
                            and meditation for holistic well-being and spiritual growth.
                        </p>
                        <a href="./Presentation/yoga.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/Bhagavad Gita.png">
                    </div>
                    <div class="course_info">
                        <h4> Bhagavad Gita </h4>
                        <p>
                            Hindu scripture offering philosophical insights and guidance on duty, 
                            righteousness, and the pursuit of self-realization.
                        </p>
                        <a href="./Presentation/Bhagavad Gita.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/S & T.png">
                    </div>
                    <div class="course_info">
                        <h4>Science and Technology</h4>
                        <p>
                            Progression of knowledge and tools facilitating innovation, 
                            advancement, and societal transformation.
                        </p>
                        <a href="./Presentation/Science and Technology.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/DN.png">
                    </div>
                    <div class="course_info">
                        <h4>Human Right in Nepal on Democracy</h4>
                        <p>
                            Protection of fundamental freedoms and dignity in Nepal's democratic system, 
                            ensuring equality, justice, and participation.
                        </p>
                        <a href="./Presentation/Human Right in Nepal on Democracy.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/IRE.png">
                    </div>
                    <div class="course_info">
                        <h4>Power of Renewable Energy</h4>
                        <p>
                            Harnessing sustainable resources like solar and wind to generate electricity, 
                            mitigating climate change and promoting energy independence.
                        </p>
                        <a href="./Presentation/The Power of Renewable Energy.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/IV.png">
                    </div>
                    <div class="course_info">
                        <h4>Importance of voting</h4>
                        <p>
                            Civic duty and democratic right enabling citizens to influence governance, 
                            uphold accountability, and shape their societies.
                        </p>
                        <a href="./Presentation/Importance of voting.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>

                <article class="course">
                    <div class="course_image">
                        <img src="./Presentation/image/CV.png">
                    </div>
                    <div class="course_info">
                        <h4>Evolution Of computer</h4>
                        <p>
                            Historical development and advancement of computing devices, software, and 
                            systems, revolutionizing communication, work, and daily life.
                        </p>
                        <a href="./Presentation/Evolution Of computer & Modern Computer.pptx" class="btn btn-primary">Click Here</a>
                    </div>
                </article>
                
            </div>
        </section>
        <!-- ==== END OF Presentation ===== -->

        


        <footer>
            <div class="container footer_container">
                <div class="footer_1">
                    <a href="index.html" class="footer_logo"><h4>Assignwise</h4></a>
                    <p>
                        Assignwise is a platform where you can get knowledge about report writing, presentation 
                        and solve questions related to BIT, BCA & BSc CSIT.
                    </p>
                </div>

                <div class="footer_2">
                    <h4>Social Media</h4>
                    <div>
                       <p><i class="fa-brands fa-facebook"></i>  Assignwise</p>
                        <p><i class="fa-brands fa-youtube"></i>  @Assignwise</p>
                    </div>
                </div>

                <div class="footer_3">
                    <h4>Primary</h4>
                    <ul class="privacy">
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms and conditions</a></li>
                        <li><a href="#">Refund Policy</a></li>
                    </ul>
                </div>

                <div class="footer_4">
                    <h4>Contact Us</h4>
                    <div>
                        <p><i class="fa-solid fa-phone"></i>  +977 9741736910</p>
                        <p><i class="fa-solid fa-envelope"></i>  assignwise9@gmail.com</p>
                        <p><i class="fa-solid fa-location-dot"></i>  Kathmandu, Nepal</p>
                    </div>
                </div>

            </div>
            <div class="footer_copyright">
                <small>Assignwise 2024 : All Rights Reserved</small>
            </div>
        </footer>


        <script src="./main.js"></script>
    </body>
</html>